{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Планирование технического обслуживаниы</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <div class="navbar">
            <i class="fas fa-bars" id="menu-toggle"></i>
            <a class="top_logo" id="top_logo" href="/">
                <span>V</span><span>M</span><span>L</span><span>C</span>
            </a>
        </div>
    </header>
    <div class="left-nav" id="left-nav">
        <div class="column_items">
            <a href="/success_result">SUCCESS</a>
        </div>
    </div>
    <div class="form_shield">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Загрузить</button>
        </form>
    </div>
<script src="{% static 'js/leftnav-close.js' %}"></script>
</body>
</html>